<!doctype html>
<html xmlns:ng="http://angularjs.org/" ng:app="myApp">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>Energy Plus provides electricity to homes and businesses in Connecticut, Illinois, New Jersey, New York,
        Maryland, Ohio, Pennsylvania and Texas</title>
</head>
<body>

<form action="/login" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/><br/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Submit"/>
    </div>
</form>
<hr><h6>Valid test logins:</h6>
<p>
    <small>Acme (test) Admin - acmetestwbadm : admin</small>
</p>

<p>
    <small>Dave Carder (agent) - dcarder : jbond</small>
</p>
<p>
    <small>Brian Cox (agent) - bcox : jbond</small>
</p>
<p>
    <small>Acme (test) Agent (agent) - acmetestwb:jbond</small>
</p>

</body>
</html>