<!doctype html>
<html xmlns:ng="http://angularjs.org/" ng:app="myApp">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>Energy Plus provides electricity to homes and businesses in Connecticut, Illinois, New Jersey, New York,
        Maryland, Ohio, Pennsylvania and Texas</title>
</head>
<body>


<form action="/" method="post">
    <h2 align="center">You are not authorized to access this system.</h2>
    <div align="center" >
        <input type="submit" value="OK"/>
    </div>
</form>

</body>
</html>