<!-- Begin page content -->
<div class="container-fluid" ng-controller="setMenuLinks">
    <ng-include src="'partials/navbar-common.html'"></ng-include>

    <div class="row-fluid">
        <div class="conBlock span12">
            <h3>Home</h3>
        </div>


        <!--<div class=" span12 form-actions blueBorderBox noMarLeft">-->
            <!--<h6>Agent Queue Buttons</h6>-->
            <!--<h6>temporary</h6>-->
            <!--<div class="span3">-->
                <!--<button type="submit" class="btn"-->
                        <!--ng-click="receiveMessage()">Listen (server)</button>-->
            <!--</div>-->

        <!--</div>-->

    </div>
</div>